{%extends 'base1.html'%}
{%load static%}
{%block title%}
<title>Register</title>
{%endblock title%}
{%block content%}
<br>
<div class="col-lg-4 border-1 rounded shadow p-3" style="margin: auto;">
<h1 class="text-center mb-3">Register</h1>

    <form action="" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <div class="text-center">
        <button type="submit" class="btn btn-success">Register</button></div>
    </form>
    <P class="mt-2 text-center">Already a user? <a href="{% url 'login' %}" style="text-decoration: none;">login</a> Now</P>
</div>
{%endblock content%}